{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="box-element">
            <h1>{{ product.title }}</h1>
            <div class="col-lg-4">
                <img class="thumbnail" src="{{product.imageURL}}">
            </div>
            <br>
            <h6><strong>{{ product.title }}</strong></h6>
            <p class="card-text"><strong>Released at:</strong> {{ product.release_data|date:"d.m. Y" }}</p>
            <p class="card-text">{{ product.description }}</p>
            <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
        </div>
    </div> 
</div>
<br>
<div class="container">
    <div class="row">
        <div class="box-element">

            <form action="{% url "list_product_review" product.pk %}" method="post">
                {% csrf_token %}
                {{ form.score.html_name }}:
                {{ form.score }}
                {{ form.score.errors }}<br><br>
                {{ form.text.html_name }}:
                {{ form.text }}
                {{ form.text.errors }}<br>
                <a style="float:right; margin:5px"><input type="submit" value="Submit" class="btn btn-primary"></a>
            </form>
        </div>
    </div>
</div>
    <br><br>


    {% for review in product.reviews.all %}
    <div class="container">
        <div class="row">
            <div class="box-element">
                <p>Reviewer: {{ review.user.username }}</p>
                <p>Score: {{ review.score }}</p>
                <p>Text: {{ review.text }}</p><br><br>
                <table class="table">
                    <tr>
                        <th>
                            <a style="float:right; margin:5px" href="{% url "delete_product_review" review.pk %}" class="btn btn-danger">Delete</a>
                            <a style="float:right; margin:5px" href="{% url "update_product_review" review.pk %}" class="btn btn-success">Update</a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br>
{% endfor %}
{% endblock content %}